@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 70, 177)); */
    background-image: linear-gradient(to bottom, rgb(18, 20, 129),rgb(255, 234, 227),rgb(255, 203, 203),rgb(255, 177, 177));
}

nav {
    display: inline-flex;
    width: 100%;
    background-color: rgb(181, 177, 230);
    height: 3rem;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px black;
    align-items: center;
}

nav p {
    flex-basis: 33.3%;
}

nav p a {
    font-size: 1.5rem;
    border: 4px solid;
    padding-inline: 0.5rem;
    padding-block: 0.1rem;
    background-color: rgba(81, 43, 253, 0.788);
    border-image: linear-gradient(to right, rgba(0, 183, 255, 0.623), rgba(249, 253, 0, 0.849), rgba(245, 90, 90, 0.842)) 4 repeat;
}

nav p a:hover {
    text-decoration: none;
}

input, .toggle {
    display: none;
}

nav .slide {
    display: flex;
    flex-basis: 66.7%;
}

.slide ol {
    display: inline-flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-block: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    flex-basis: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    transition-duration: 200ms;
    font-size: clamp(1rem, 1.2rem, 20px);
}

nav a:hover, nav a:active {
    text-shadow: 0 0 3px black;
    text-decoration: underline;
}

.hero, .about, .skills, .project {
    text-align: center;
    margin-inline: 1rem;
}

.hero, .about > h2, .skills > h2, .project > h2 {
    font-family: "PT Serif", serif;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 8vh;
    /* height: 100vh; */
    background-image: url(./images/hero\ bg.png);
    background-size: cover;
    margin-inline: 0;
}

.hero > h1, p {
    padding-inline: 1rem;
}

h1 {
    background-image: linear-gradient(to right, rgb(255, 173, 173), rgb(255, 214, 165), rgb(253, 255, 182), rgb(202, 255, 191), rgb(155, 246, 255), rgb(160, 196, 255), rgb(189, 178, 255), rgb(255, 198, 255), rgb(255, 255, 252));
    /* font-size: min(6rem, 10vw); */
    font-size: clamp(3rem, 6rem, 7vw);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block: 0;
}

.hero p {
    font-family: "Plus Jakarta Sans", sans-serif;
    /* font-size: 2.5rem; */
    font-size: clamp(2.5vw, 2rem, 2.5rem);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 3rem;
    width: 10rem;
    border: 0;
    border-radius: 1.5rem;
    background-color: rgb(51, 51, 221);
    color: white;
    font-size: 1.2rem;
    transition-duration: 300ms;
    cursor: pointer;
}

.hero a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: rgb(51, 51, 141);
}

.about {
    width: 90%;
    font-size: 1.5rem;
    /* background-color: rgba(182, 177, 230, 0.452); */
    background-color: rgba(162, 184, 157, 0.411);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
    margin-inline: auto;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.skills {
    font-size: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.skills ul {
    list-style: none;
    padding-inline: 0;
}

.skills li {
    background-image: radial-gradient(circle 200px, rgba(34, 9, 255, 0.781), rgba(75, 32, 75, 0.842));
    border-radius: 15px;
    padding-block: 0.8rem;
    margin-inline: auto;
    margin-block-end: 1.5rem;
    width: 15rem;
    box-shadow: 0px 5px 8px rgba(2, 62, 114, 0.8);
    color: white;
}

.project {
    font-size: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.project h3 a {
    text-decoration: none;
}

.project h3 a:hover {
    color: navy;
    text-decoration: underline;
}

.box {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-inline: 2rem;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    background-size: cover;
    border-radius: 2rem;
    color: rgb(62, 18, 105);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.308);
    overflow-y: hidden;
    transition: transform 0.3s ease-in-out;
}

.tile a {
    display: inline-flex;
    color: rgb(61, 123, 236);
}

.tile a:hover, .tile a:active {
    color: rgb(8, 79, 212);
}

.tile a svg {
    margin-inline-start: 0.2rem;
    fill: rgb(62, 18, 105);
}

.tile:hover {
    transform: scale(1.01);
}

.box:has(.tile:hover) .tile:not(:hover) {
    transform: scale(0.97);
}

.bottom-gradient {
    background-image: linear-gradient(to top, rgb(247, 205, 222), rgba(243, 189, 218, 0.885), rgba(255, 255, 255, 0.25));
    padding-inline: 1rem;
    padding-block-end: 1rem;
    transition-duration: 650ms;
}

.box:has(.tile:hover) .bottom-gradient {
    background-image: linear-gradient(to top, rgb(247, 205, 222), rgba(243, 189, 218, 0.885), rgba(255, 255, 255, 0.8));
}

.box:has(:not(.tile:hover)) .tile:not(:hover) .bottom-gradient {
    background-image: linear-gradient(to top, rgb(247, 205, 222), rgba(243, 189, 218, 0.885), rgba(255, 255, 255, 0.25));
}

.tile:nth-of-type(1) {
    background-image: url(./images/chat\ app.png);
}

.tile:nth-of-type(2) {
    background-image: url(./images/HTML\ resume.png);
}

.tile:nth-of-type(3) {
    background-image: url(./images/data\ storage\ page.png);
}

.tile:nth-of-type(4) {
    background-image: url(./images/bootstrap\ project\ page.png);
}

.footer {
    display: grid;
    background-image: linear-gradient(to bottom, rgb(44, 43, 43), rgb(114, 112, 112));
    background-size: cover;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4.5rem;
}

.contact {
    margin-inline-start: 5rem;
    margin-inline-end: auto;
    line-height: 2rem;
}

.contact a {
    color: skyblue;
}

.contact a:hover, a:active {
    color: rgb(98, 196, 235);
}

.sitemap ul {
    list-style: none;
    line-height: 2rem;
    margin-inline-start: 50%;
}

.sitemap a {
    text-decoration: none;
    color: inherit;
}

.sitemap a:hover {
    color: rgb(98, 196, 235);
} 

.end-note {
    padding-inline-start: 6%;
    grid-area: 2/1/-1/-1;
    background-image: linear-gradient(to right, purple, pink);
    background-size: cover;
}

.end-note p {
    margin-inline: auto;
}

.social ul {
    list-style: none;
    display: inline-flex;
}

.social {
    padding-inline-start: 45%;
    grid-area: 2/2/-1/-1;
}

.social ul li {
    padding-inline-start: 1rem;
    transition-duration: 350ms;
}

.social ul li:hover {
    filter: invert(100%);
}

@media (max-width: 700px) {

    nav {
        display: flex;
        width: auto;
        flex-direction: column;
        /* height: fit-content; */
        padding: 1rem;
        position: relative;
        align-items: flex-start;
    }

    nav p {
        align-self: center;
    }

    .slide {
        position: absolute;
        height: 100vh;
        width: 200px;
        background-color: rgba(10, 10, 10, 0.766);
        backdrop-filter: blur(2px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
        top: 0;
        left: 0;
        transform: translateX(-220px);
        /* display: none; */
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }

    .slide ol {
        height: 50vh;
    }

    input {
        display: block;
        position: absolute;
        /* display: none; */
        /* visibility: hidden; */
        appearance: none;
        -webkit-appearance: none;
        z-index: 2;
        top: 40%;
        left: 2%;
        height: 25px;
        width: 35px;
        cursor: pointer;
    }

    .toggle {
        display: block;
        height: 20px;
        width: 30px;
        position: absolute;
        top: 40%;
        z-index: 1;
        cursor: pointer;
    }

    .toggle .common {
        height: 2px;
        width: 30px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        transition-duration: 500ms;
    }

    .toggle .top-line {
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        transition-duration: 500ms;
    }

    .toggle .middle-line {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 200ms;
    }
    
    .toggle .bottom-line {
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        transition-duration: 500ms;
    }

    input:checked ~ .toggle .top-line {
        top: 8px;
        left: 6px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle .middle-line {
        transform: translateX(-100px);
    }

    input:checked ~ .toggle .bottom-line {
        top: 8px;
        left: 6px;
        transform: rotate(-45deg);
    }

    input:checked ~ .slide {
        transform: translateX(0);
    }
    
    /* body:has(nav input:checked) body {
        height: 100vh;
        overflow: hidden;
    } */

    h1 {
        width: auto;
    }

    nav ol {
        flex-direction: column;
        text-align: center;
        padding-block: 2rem;
    }

    .about {
        width: 75%;
    }

    .box {
        grid-template-columns: 1fr;
    }


    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .contact {
        margin-inline: auto;
        text-align: center;
    }

    .sitemap {
        margin-inline: auto;
        padding-block: 1rem;
        text-align: center;
    }

    .sitemap ul {
        margin: 0;
        padding: 0;
    }

    .end-note {
        grid-area: unset;
    }

    .social {
        grid-area: unset;
        /* padding: 0; */
        margin-inline: auto;
    }

    .social ul {
        padding: 0;
    }
}